.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Take full width of the viewport */
  height: 100vh; /* Take full height of the viewport */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 22;
}

.modal__overlay {
  position: fixed; /* Change position to fixed */
  top: 0;
  left: 0;
  width: 100%; /* Take full width of the viewport */
  height: 100%; /* Take full height of the viewport */

  z-index: 20;
}

.modal__container {
  position: relative;
  background-color: white;
  max-width: 490px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2em;
  z-index: 21;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../images/Close-Button-grey.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
  z-index: 22;
}
.modal__close-button:hover {
  border: 4px solid #cbe1b7; /* Add border with specified color */
  margin: 4px; /* Add padding to create space between the image and border */

  border-radius: 10px;
}
.modal__close-button:focus-visible {
  border: 4px solid #cbe1b7;
  margin: 4px;
  border-radius: 10px;
}
