/* Signed Out Main*/

.main {
  margin: 0;
  padding-top: 10px; /* Adjust as needed */
  padding-bottom: 32px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; /* Position from the left edge of the viewport */
  min-height: 100vh;
}
.main__catch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__button {
  padding: 16px;
  border-radius: 30px;
  margin-bottom: 30px;
  background: #d3dbf4;
}
.main__image {
  width: 80vw;
  padding-top: 40px;
}
.main__how {
  display: flex;
  flex-direction: column;
}
.main__about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 32px;
  padding-top: 32px;
}

.main__about_image {
  width: 196px;
  height: 196px;
}
.main__about_text {
  width: 680px;
  text-align: left;
}

/* Signed In Main*/
.main__calendar {
  width: 90vw;
  padding: 10px;
}
.main_p {
  margin-top: 0;
  margin-bottom: 20px;
}
