.nav {
  display: flex;
  gap: 20px;
  padding-right: 2rem;
}

.nav_button {
  border: none;
  padding: 5px 20px;
  background-color: #fff;
  color: #000;
  line-height: 1.2;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.nav_button:hover {
  opacity: 0.4;
}

.nav_signedin {
}

.nav_container {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_trigger {
}

.nav_avatar {
  width: 40px;
  height: 40px;
  text-decoration: none;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.nav_dropdown {
  display: none;
  position: absolute;
  top: calc(100% + -30px);
  right: calc(100% + -60px);
  background-color: #e0f1d0;
  border-radius: 30px;
  padding: 10px 20px;
  width: 200px;
  z-index: 99;
  opacity: 0; /* Initially invisible */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition */
}
.nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.nav_dropdown.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* .nav_dropdown::before {
  content: "";
  position: absolute;
  top: -5;
  right: 20px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
} */

.nav_dropdown ul {
  padding: 0;
  font-size: 20px;
}

.nav_username {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

.nav_dropdown_item {
  display: flex;
  margin: 10px auto;
  border-top: 1px solid #868686;
  padding: 10px 0;
  justify-content: center;
}

.nav_dropdown_item:hover {
  cursor: pointer;
  color: #6b84d1;
}
@media screen and (min-width: 768px) {
  .nav {
    padding-right: 4rem; /* Adjust this value as needed */
  }
}
