@import url(./vendor/fonts.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #a560dc;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100%;
  max-width: 100%;
  position: relative;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
}
p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
}

button {
  /* border: 1px solid transparent; */
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
  transition: 0.25s;
  border: none;
  padding: 16px;
  border-radius: 30px;
  /* margin-bottom: 30px; */
}
button:hover {
  border-color: #cbe1b7;
}
button:focus,
button:focus-visible {
  outline: 4px auto #cbe1b7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #050505;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
